#section03 {
  color: #03324d;
  padding-bottom: 110px;
  .w{
    color: #fff;
  }
  .y{
    color: #ffc107;
  }
  .b{
    color: #03324d;
  }
  .bb{
    background: #0f213c;
  }
  .fw-900{
   font-weight: 900;
 }
 .fs-48{
  font-size: 48px;
 }

 .lh-62{
  line-height: 62px;
 }

 svg{
  color: #d6a307;
 }
 .your-element{
    padding: 20px;
 }

 
}
